@model IndexViewModel;
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var mainAd in Model.lstTbMainAd)
            {
                <div class="carousel-item @(mainAd == Model.lstTbMainAd.First() ? "active" : "")">
                    <img class="w-100" src="~/img/@mainAd.MainAdImageBig" alt="Image">
                    <div class="carousel-caption d-flex align-items-center">
                        <div class="container">
                            <div class="row align-items-center justify-content-center justify-content-lg-start">
                                <div class="col-10 col-lg-7 text-center text-lg-start">
                                    <h1  dir="rtl" class="display-5 text-white mb-4 pb-3 animated slideInDown">@mainAd.MainAdText</h1>
                                    <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">تعلم المزيد<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                                <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                    <img class="img-fluid" src="~/img/@mainAd.MainAdImageSmall" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->




    <!-- Service Start -->
    <div class="container-xxl py-5" dir="rtl">
        <div class="container">
            <div class="row g-4">
                @foreach(var service in Model.lstTbServices)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">@service.ServiceName</h5>
                            <p>@service.ServiceDescription</p>
                            <a class="text-secondary border-bottom" href="">المزيد</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5" dir="rtl">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/about.jpg" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                        @foreach(var about in Model.lstTbAbouts)
                            {                   
                            <h1 class="display-4 text-white mb-0">@about.AboutYearsExperience <span class="fs-4">سنوات</span></h1>
                            <h4 class="text-white">خبرة</h4>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @foreach(var about in Model.lstTbAbouts)
                            {  
                    <h1 class="mb-4"><span class="text-primary">مؤسسة العمل الذهبي</span> @about.AboutCompanyTitle</h1>
                    <p class="mb-4">@about.AboutCompanyDescription</p>
                            }
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            @foreach(var service in Model.lstTbServices)
                                        {
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">@service.ServiceID 0</span>
                                </div>
                                <div class="ps-3">
                                    <h6>@service.ServiceTitle</h6>
                                    <span>@service.ServiceDescription</span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <a href="" class="btn btn-primary py-3 px-5"><i class="fa fa-arrow-right ms-3"></i>اقرأ المزيد</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5" dir="rtl">
        <div class="container">
            <div class="row g-4">
            @foreach(var about in Model.lstTbAbouts)
                {
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">@about.AboutYearsExperience</h2>
                    <p class="text-white mb-0">سنوات الخبرة</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">@Model.lstTbTechnician.Count()</h2>
                    <p class="text-white mb-0">فريق متخصص</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">@Model.lstTbCustomerReviews.Count()</h2>
                    <p class="text-white mb-0">عملاء راضون</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-car fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">@about.AboutCompletedProjects</h2>
                    <p class="text-white mb-0">مشاريع مكتملة</p>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- Fact End -->

    <!-- Booking Start -->
    <div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="text-white mb-4">معتمدون من قبل الدفاع المدني في أنظمة إطفاء الحريق وأنظمة الإنذار</h1>
                        <p class="text-white mb-0">نوفر خدمات صيانة وتركيب لأنظمة الإطفاء والإنذار المتطورة، بما في ذلك تصميم وتنفيذ وصيانة الأنظمة المناسبة لمختلف البيئات والمباني. يمكنك الاعتماد علينا لتوفير حلول موثوقة وفعالة لحماية الحياة والممتلكات من حوادث الحرائق. قم بزيارة موقعنا للحصول على مزيد من المعلومات والاستفادة من خبرتنا في هذا المجال.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">حجز خدمة</h1>
                        <form class="forms-sample" method="post" enctype="multipart/form-data" class="form-inline repeater"
                         asp-controller="Home" asp-action="Save" role="form">
                            <!-- hidden Files -->
                            <input asp-for="inputTbBookings.ServiceID" type="hidden" />
                            <input asp-for="inputTbBookings.CustomerID" type="hidden" />
                            <input asp-for="inputTbBookings.BookingID" type="hidden" />

                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control border-0" placeholder="اسمك" style="height: 55px;"
                                         asp-for="inputTbBookings.BookingFirstName" maxlength="50" />
                                        <span asp-validation-for="inputTbBookings.BookingFirstName" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                        <input type="email" class="form-control border-0" placeholder="الايميل" style="height: 55px;"
                                         asp-for="inputTbBookings.BookingEmail" maxlength="50" />
                                        <span asp-validation-for="inputTbBookings.BookingEmail" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;" asp-for="inputTbBookings.ServiceID">
                                        <option selected>اختر الخدمة المطلوبة</option>
                                        @foreach (var service in Model.lstTbServices)
                                        {
                                            <option value="inpu.BookingServiceName">@service.ServiceName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text" class="form-control border-0 datetimepicker-input" placeholder="تاريخ الخدمة"
                                            data-target="#date1" data-toggle="datetimepicker" style="height: 55px;"
                                            asp-for="inputTbBookings.BookingStartDate" maxlength="50" />
                                        <span asp-validation-for="inputTbBookings.BookingStartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" placeholder="تعليق"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary w-100 py-3" type="submit">إحجز الان</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->


<!-- Team Start -->
<div class="container-xxl py-5" dir="rtl">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">أعضاء فريقنا المتخصصون</h1>
        </div>
        <div class="row g-4">
            @foreach (var technician in Model.lstTbTechnician)
            {
                <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="~/img/team-1.jpg" alt="">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">@technician.TechnicianName</h5>
                            <small>@technician.TechnicianExperience</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Team End -->




<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">آراء عملائنا!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach(var customerReview in Model.lstTbCustomerReviews)
            {
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    @foreach(var customer in Model.lstTbCustomer)
                    {
                        if (customer.CustomerID == customerReview.CustomerID)
                        {
                            <h5 class="mb-0">@customer.CustomerFirstName @customer.CustomerLastName</h5>
                            <p>@customer.CustomerAddress</p>
                            
                        }
                    }
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0" dir="rtl">@customerReview.CustomerReviewText</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->







    @section Scripts
    {
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
       
    }