@model IndexViewModel

<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">طلب عرض سعر</h1>
            </div>
        </div>
    </div>
<!-- Page Header End -->

<!-- Call To Action Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h1 class="mb-4">هل لديك أي سؤال قبل طلب عرض سعر؟</h1>
                    <p class="mb-0"> لا تتردد في طرح أي استفسارات قبل أن تتخذ قرارك النهائي. نحن هنا لتوفير المعلومات والإجابة على جميع استفساراتك. نحن نهتم بتوفير تجربة مريحة وسهلة لعملائنا، لذا فلا تتردد في التواصل معنا. نحن في انتظارك لمساعدتك في أي مسألة تتعلق بالحجوزات والخدمات التي نقدمها.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        @foreach (var service in Model.lstTbAbouts)
                                    {
                                <h3 class="text-white mb-4"> @service.AboutCompanyPhone 966+<i class="fa fa-phone-alt me-3"></i></h3>
                                    }
                        <a href="" class="btn btn-secondary py-3 px-5"><i class="fa fa-arrow-right ms-3"></i>اتصل الان</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Call To Action End -->

<!-- Booking Start -->
<div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="text-white mb-4">معتمدون من قبل الدفاع المدني في أنظمة إطفاء الحريق وأنظمة الإنذار</h1>
                    <p class="text-white mb-0">نوفر خدمات صيانة وتركيب لأنظمة الإطفاء والإنذار المتطورة، بما في ذلك تصميم وتنفيذ وصيانة الأنظمة المناسبة لمختلف البيئات والمباني. يمكنك الاعتماد علينا لتوفير حلول موثوقة وفعالة لحماية الحياة والممتلكات من حوادث الحرائق. قم بزيارة موقعنا للحصول على مزيد من المعلومات والاستفادة من خبرتنا في هذا المجال.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">حجز خدمة</h1>
                    <form class="forms-sample" method="post" enctype="multipart/form-data" class="form-inline repeater"
                        asp-controller="Home" asp-action="Save" role="form">
                        <!-- hidden Files -->
                        <input asp-for="@Model.inputTbBookings.BookingID" type="hidden" />
                        @*<input asp-for="@Model.inputTbBookings._TbService.ServiceID" type="hidden" /> *@
                        <!-- hidden Files -->
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="اسمك" style="height: 55px;"
                                        asp-for="@Model.inputTbBookings.BookingFirstName" maxlength="50" />
                                    <span asp-validation-for="@Model.inputTbBookings.BookingFirstName" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="الايميل" style="height: 55px;"
                                        asp-for="@Model.inputTbBookings.BookingEmail" maxlength="50" />
                                    <span asp-validation-for="@Model.inputTbBookings.BookingEmail" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6">
                                @*<select class="form-select border-0" style="height: 55px;" asp-for="@Model.inputTbBookings._TbService.ServiceID">*@
                                <select class="form-select border-0" style="height: 55px;" asp-for="@Model.inputTbBookings.BookingServiceName" maxlength="50">
                                    <option selected>اختر الخدمة المطلوبة</option>
                                    @foreach (var service in Model.lstTbServices)
                                    {
                                            <option value="@service.ServiceName">@service.ServiceName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="date" class="form-control border-0 datetimepicker-input" placeholder="تاريخ الخدمة"
                                        data-target="#date1" data-toggle="datetimepicker" style="height: 55px;"
                                        asp-for="@Model.inputTbBookings.BookingDate"/>
                                    <span asp-validation-for="@Model.inputTbBookings.BookingDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea  class="form-control border-0" placeholder="تعليق"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" formmethod="post" class="btn btn-secondary w-100 py-3">إحجز الان</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->

@section Scripts
    {
            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="lib/wow/wow.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/counterup/counterup.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/tempusdominus/js/moment.min.js"></script>
            <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
            <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>

}